<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Siemens.Opc.DaClient.BDD.OFF_enCour" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <Siemens.Opc.DaClient.BDD.OFF_enCour>
            <setting name="Processus" serializeAs="String">
                <value />
            </setting>
            <setting name="Diametre" serializeAs="String">
                <value />
            </setting>
            <setting name="Densite" serializeAs="String">
                <value />
            </setting>
            <setting name="GFH" serializeAs="String">
                <value />
            </setting>
            <setting name="Longueur" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgPLCDem" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgPLCProd" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgZumbach" serializeAs="String">
                <value />
            </setting>
            <setting name="CadenceProd" serializeAs="String">
                <value />
            </setting>
            <setting name="DebitEau1" serializeAs="String">
                <value />
            </setting>
            <setting name="DebitEau2" serializeAs="String">
                <value />
            </setting>
            <setting name="DebitEau3" serializeAs="String">
                <value />
            </setting>
            <setting name="EcartementBT" serializeAs="String">
                <value />
            </setting>
            <setting name="Outillage" serializeAs="String">
                <value />
            </setting>
            <setting name="Tete" serializeAs="String">
                <value />
            </setting>
            <setting name="Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Matiere" serializeAs="String">
                <value />
            </setting>
            <setting name="EtatBTN" serializeAs="String">
                <value />
            </setting>
        </Siemens.Opc.DaClient.BDD.OFF_enCour>
    </userSettings>
</configuration>
